body{
}

.text-orange{
    color: #F79234;
}
.shadow-box{
    box-shadow: 5px 5px 3px 3px #F79234;
    transition: all 0.3s;
}
.shadow-box:hover{
    box-shadow: 5px 5px 3px 3px #5bc0de;

}
.banner-card{
    background-color: #f7923400;
    border: 1px solid rgba(121, 120, 120, 0.473) !important;
    border-radius: 10px;
}
.gradient{
    background-image: linear-gradient(to right top, #5bc0de, #89c9ea, #afd3f2, #cedef7, #e7ebfa, #ebe8fe, #f4e4fe, #ffe0fb, #ffc5e2, #ffaab5, #ff9779, #f79234);
}
.gradient-light{
    background-image: linear-gradient(to bottom, #5bc0de, #7ccbe3, #98d7e9, #b2e2ee, #ccedf5, #d9f2f9, #e6f7fc, #f3fcff, #f7fcff, #fbfdff, #fdfeff, #ffffff);
}
.bg-light{
    background-color: #E6F4F1;
}
.bg-orange{
    background-color: #F79234;
}
.heading1{
    /* color: #ED7090; */
    position: relative;
    font-weight: 300;
    display: grid;
    place-items: center;
}
.heading1::before{
    /* content: "";
    position: absolute;
    background-color: #00C56F;
    width: 50%;
    height: 5px;
    border-radius: 50px;
    z-index: 1;
    bottom: -5px; */
}
